# Lecture 23: Logistical Regression - Diganostics

---

## Ex-Ante Diagnostics

The example below employs the Indian Time Use Survey to model the choice of shopping channel (no-shopping, in-store, online, both) as logistic regression, accounting for individual specific variables (socio-demographics and socio-economic parameters).

In [1]:
# Load necessary libraries
library(tidyr)
library(dplyr)
library(mlogit)
library(ggplot2)
options(repr.plot.width = 12, repr.plot.height = 8)

# 2024 ITUS Individual Data (model)
url  <- "https://raw.githubusercontent.com/anmpahwa/CE5540/refs/heads/main/resources/ITUS_IND_BD.csv"
data <- read.csv(url) # Loading Data
str(data)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Loading required package: dfidx

'data.frame':	454192 obs. of  54 variables:
 $ Unique_ID        : chr  "2024-30010-1-241-17-13-11-2-2420-4-1-1" "2024-30010-1-241-17-13-11-2-2420-4-10-1" "2024-30010-1-241-17-13-11-2-2420-4-10-2" "2024-30010-1-241-17-13-11-2-2420-4-11-1" ...
 $ Unique_HH_ID     : chr  "2024-30010-1-241-17-13-11-2-2420-4-1" "2024-30010-1-241-17-13-11-2-2420-4-10" "2024-30010-1-241-17-13-11-2-2420-4-10" "2024-30010-1-241-17-13-11-2-2420-4-11" ...
 $ q1               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ q2               : int  1 1 1 1 1 1 1 1 1 1 ...
 $ q3               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ q4               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ weekday          : int  1 1 1 0 0 0 0 0 1 1 ...
 $ weekend          : int  0 0 0 1 1 1 1 1 0 0 ...
 $ rural            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ urban            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ north            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ west             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ central          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ east             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ north.east       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ south            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tierI            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tierII           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ tierIII          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ male             : int  1 1 0 1 0 1 0 0 1 0 ...
 $ female           : int  0 0 1 0 1 0 1 1 0 1 ...
 $ transgender      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ gen_alpha        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ gen_z            : int  0 0 1 0 0 1 1 1 0 0 ...
 $ millenials       : int  0 1 0 0 1 0 0 0 0 1 ...
 $ gen_x            : int  1 0 0 1 0 0 0 0 1 0 ...
 $ baby_boomers     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ silent           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ not_married      : int  1 0 0 0 0 1 1 1 0 0 ...
 $ married          : int  0 1 1 1 1 0 0 0 1 1 ...
 $ not_literate     : int  0 0 0 0 1 0 0 0 1 0 ...
 $ primary          : int  0 0 1 0 0 0 1 0 0 1 ...
 $ secondary        : int  0 1 0 1 0 1 0 1 0 0 ...
 $ graduate_._above : int  1 0 0 0 0 0 0 0 0 0 ...
 $ nilf             : int  0 0 1 0 1 0 1 0 0 0 ...
 $ unemployed       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ employed         : int  1 1 0 1 0 1 0 1 1 1 ...
 $ family_structure : num  0 0.333 0.333 0.4 0.4 0.4 0.4 0.4 0.429 0.429 ...
 $ household_size   : int  1 3 3 5 5 5 5 5 7 7 ...
 $ disadvantaged    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ not_disadvantaged: int  0 0 0 0 0 0 0 0 0 0 ...
 $ no_land          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ land_possessed   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ low_income       : int  1 1 1 0 0 0 0 0 0 0 ...
 $ medium_income    : int  0 0 0 1 1 1 1 1 1 1 ...
 $ high_income      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ no_dwelling      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ kutcha           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ pucca            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ none             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ instore          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ online           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ both             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ weight           : int  208857 208857 208857 208857 208857 208857 208857 208857 208857 208857 ...

In [2]:
# Counts
counts <- data %>%
  summarise(
    None = sum(none, na.rm = TRUE),
    InStore = sum(instore, na.rm = TRUE),
    Online = sum(online, na.rm = TRUE),
    Both = sum(both, na.rm = TRUE)
  ) %>%
  pivot_longer(cols = everything(), names_to = "channel", values_to = "count") %>%
  mutate(share = (count / sum(count)) * 100)
print(counts)

# A tibble: 4 × 3
  channel  count   share
  <chr>    <int>   <dbl>
1 None    409897 90.2
2 InStore  39728  8.75
3 Online    4252  0.936
4 Both       315  0.0694

In [3]:
# Temporal: Quarter Counts
quarter_counts <- data %>%
  summarise(
    None_Q1 = sum(none * q1, na.rm = TRUE),
    InStore_Q1 = sum(instore * q1, na.rm = TRUE),
    Online_Q1 = sum(online * q1, na.rm = TRUE),
    Both_Q1 = sum(both * q1, na.rm = TRUE),

    None_Q2 = sum(none * q2, na.rm = TRUE),
    InStore_Q2 = sum(instore * q2, na.rm = TRUE),
    Online_Q2 = sum(online * q2, na.rm = TRUE),
    Both_Q2 = sum(both * q2, na.rm = TRUE),

    None_Q3 = sum(none * q3, na.rm = TRUE),
    InStore_Q3 = sum(instore * q3, na.rm = TRUE),
    Online_Q3 = sum(online * q3, na.rm = TRUE),
    Both_Q3 = sum(both * q3, na.rm = TRUE),

    None_Q4 = sum(none * q4, na.rm = TRUE),
    InStore_Q4 = sum(instore * q4, na.rm = TRUE),
    Online_Q4 = sum(online * q4, na.rm = TRUE),
    Both_Q4 = sum(both * q4, na.rm = TRUE)
  ) %>%
  pivot_longer(cols = everything(), names_to = "channel_quarter", values_to = "count") %>%
  separate(channel_quarter, into = c("channel", "quarter"), sep = "_") %>%
  group_by(quarter) %>%
  mutate(share = (count / sum(count)) * 100) %>%
  ungroup() %>%
  mutate(channel = factor(channel, levels = c("None", "InStore", "Online", "Both")))

# Tabulate
table <- quarter_counts %>%
  ungroup() %>%
  select(channel, quarter, share) %>%
  pivot_wider(names_from = quarter, values_from = share)
print(table)

# A tibble: 4 × 5
  channel      Q1      Q2      Q3      Q4
  <fct>     <dbl>   <dbl>   <dbl>   <dbl>
1 None    91.0    90.2    89.9    89.8
2 InStore  7.61    8.57    9.33    9.56
3 Online   1.31    1.10    0.699   0.601
4 Both     0.0713  0.0794  0.0704  0.0557

In [4]:
# Temporal: Day Counts
day_counts <- data %>%
  summarise(
    None_WD = sum(none * weekday, na.rm = TRUE),
    InStore_WD = sum(instore * weekday, na.rm = TRUE),
    Online_WD = sum(online * weekday, na.rm = TRUE),
    Both_WD = sum(both * weekday, na.rm = TRUE),

    None_WE = sum(none * weekend, na.rm = TRUE),
    InStore_WE = sum(instore * weekend, na.rm = TRUE),
    Online_WE = sum(online * weekend, na.rm = TRUE),
    Both_WE = sum(both * weekend, na.rm = TRUE)
  ) %>%
  pivot_longer(cols = everything(), names_to = "channel_day", values_to = "count") %>%
  separate(channel_day, into = c("channel", "day"), sep = "_") %>%
  group_by(day) %>%
  mutate(share = (count / sum(count)) * 100) %>%
  ungroup() %>%
  mutate(channel = factor(channel, levels = c("None", "InStore", "Online", "Both")))

# Tabulate
table <- day_counts %>%
  ungroup() %>%
  select(channel, day, share) %>%
  pivot_wider(names_from = day, values_from = share)
print(table)

# A tibble: 4 × 3
  channel      WD      WE
  <fct>     <dbl>   <dbl>
1 None    90.7    89.2
2 InStore  8.38    9.73
3 Online   0.900   1.03
4 Both     0.0636  0.0847

In [5]:
# Spatial: Sector Counts
sector_counts <- data %>%
  summarise(
    None_R = sum(none * rural, na.rm = TRUE),
    InStore_R = sum(instore * rural, na.rm = TRUE),
    Online_R = sum(online * rural, na.rm = TRUE),
    Both_R = sum(both * rural, na.rm = TRUE),

    None_U = sum(none * urban, na.rm = TRUE),
    InStore_U = sum(instore * urban, na.rm = TRUE),
    Online_U = sum(online * urban, na.rm = TRUE),
    Both_U = sum(both * urban, na.rm = TRUE)
  ) %>%
  pivot_longer(cols = everything(), names_to = "channel_sector", values_to = "count") %>%
  separate(channel_sector, into = c("channel", "sector"), sep = "_") %>%
  group_by(sector) %>%
  mutate(share = (count / sum(count)) * 100) %>%
  ungroup() %>%
  mutate(channel = factor(channel, levels = c("None", "InStore", "Online", "Both")))

# Tabulate
table <- sector_counts %>%
  ungroup() %>%
  select(channel, sector, share) %>%
  pivot_wider(names_from = sector, values_from = share)
print(table)

# A tibble: 4 × 3
  channel       R      U
  <fct>     <dbl>  <dbl>
1 None    91.6    88.0
2 InStore  7.66   10.6
3 Online   0.706   1.33
4 Both     0.0473  0.107

In [6]:
# Spatial: Tier Counts
tier_counts <- data %>%
  summarise(
    None_T1 = sum(none * tierI, na.rm = TRUE),
    InStore_T1 = sum(instore * tierI, na.rm = TRUE),
    Online_T1 = sum(online * tierI, na.rm = TRUE),
    Both_T1 = sum(both * tierI, na.rm = TRUE),

    None_T2 = sum(none * tierII, na.rm = TRUE),
    InStore_T2 = sum(instore * tierII, na.rm = TRUE),
    Online_T2 = sum(online * tierII, na.rm = TRUE),
    Both_T2 = sum(both * tierII, na.rm = TRUE),

    None_T3 = sum(none * tierIII, na.rm = TRUE),
    InStore_T3 = sum(instore * tierIII, na.rm = TRUE),
    Online_T3 = sum(online * tierIII, na.rm = TRUE),
    Both_T3 = sum(both * tierIII, na.rm = TRUE)
  ) %>%
  pivot_longer(cols = everything(), names_to = "channel_tier", values_to = "count") %>%
  separate(channel_tier, into = c("channel", "tier"), sep = "_") %>%
  group_by(tier) %>%
  mutate(share = (count / sum(count)) * 100) %>%
  ungroup() %>%
  mutate(channel = factor(channel, levels = c("None", "InStore", "Online", "Both")))

# Tabulate
table <- tier_counts %>%
  ungroup() %>%
  select(channel, tier, share) %>%
  pivot_wider(names_from = tier, values_from = share)
print(table)

# A tibble: 4 × 4
  channel      T1      T2      T3
  <fct>     <dbl>   <dbl>   <dbl>
1 None    90.4    91.1    89.3
2 InStore  8.74    8.02    9.48
3 Online   0.825   0.811   1.17
4 Both     0.0776  0.0471  0.0833

## Model Diagnostics

In [ ]:
# Convert data to mlogit format
data <- data %>%
  mutate(
    shopping_choice = case_when(
      none == 1 ~ "None",
      instore == 1 ~ "InStore",
      online == 1 ~ "Online"
    )
  )

data <- mlogit.data(data, choice = "shopping_choice", shape = "wide", varying = NULL, id.var = "Unique_ID")

In [ ]:
# TODO: Model Development
model <- mlogit(shopping_choice ~ weekend + urban, data = data)

In [ ]:
# TODO: Model Diagnostics
summary(model)

## Ex-Post Diagnostics

...